.radio {

}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    gap: 5px;
    cursor: pointer;

}

.options {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
