.burgerMenuIcon {
}

.header {
    box-shadow: 0 0 40px rgba(29, 33, 38, 0.13), 0 0 2px rgba(29, 33, 38, 0.1);
    padding: 20px 0;
    margin-bottom: 50px;
}

.header .inner {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 24px;
    line-height: 29px;
}

.header img {
    cursor: pointer;
}