.button {
    width: 150px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
}

.button:first-letter {
    text-transform: uppercase;
}

.disabled {
    background: #004D99;
    opacity: 0.5;
    width: 130px;
}

.secondary {
    background: #fff;
    color: #0066CC;
    border: 1px solid #0066CC;
}

.default {
    background: #0059B3;
}

.red {
    background: #B31232;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
